.sim-pointer{
    color: white;
    cursor: pointer;
}
.table{
    border: 1px solid;
    align-items: center;
    /* height: 100vh; */
    display: inline-table;
}
.userlist{
    display: flex;
    justify-content: center;
    color: darkgreen;

}